<%- include(`partials/header`) %>


    <nav>
        <div>
            <h1>Daily</h1>
        </div>
        <div>

            <button>
                <a href="">Home</a>
            </button>
            <button>
                <a href="">About</a>
            </button>
            <button>
                <a href="">Contact US</a>
            </button>

        </div>
    </nav>








    <%- include(`partials/footer`) %>